@import "font-icon";

body
{

  font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif,"宋体" !important;
  background-color: #E3E8F8;
}
html, body {
  height: 100%;
}


.container {
  height: 100%;
}
