@import "todoStyle-variables";
@import "PublicStyle";

.deleteDialog{
  display: none;
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1000;
  background-color: #fff;

  border: 1px solid #bbb;
  width: 390px;
  box-shadow: 0 0 4px #bbb;
  border-radius:  5px;

  .row {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #bbb;
  }

  h3 {
    margin-top: 8px;
    margin-bottom: 10px;
    text-align: center;
  }
  .main{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    align-items:  center;
    font-size: $font-size-small;
    .left {
      margin-right: 20px;
      img {
        width: 108px;
        height: 108px;
      }
    }
    .right {
      h3 {
        text-align: left;
        font-size: $font-size-base;
      }
      .desp {
        color: #f92629;
        font-weight: bolder;
      }

    }
  }



  .btn-group {
    button {
      margin-right: 15px;
      margin-bottom: 10px;
      float: right;
    }
    .cancel-btn {
      @extend %cancel-btn;
    }

    .confirm-btn {
      @extend  %confirm-btn
    }
  }
}
