@charset "utf-8";
@import "todoStyle-variables";

$icon-color-day: #29acff;
$icon-color-flag: #f92432;
$icon-color-todo: #59ff15;
$icon-color-default: #5b5b5b;
$icon-color-modify: #afafaf;
$icon-color-logout: #6e6e6e;

@font-face {
  font-family: 'iconfont';  /* project id 374892 */
  src: url('http://at.alicdn.com/t/font_w3rboi9v8to6r.eot');
  src: url('http://at.alicdn.com/t/font_w3rboi9v8to6r.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_w3rboi9v8to6r.woff') format('woff'),
  url('http://at.alicdn.com/t/font_w3rboi9v8to6r.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_w3rboi9v8to6r.svg#iconfont') format('svg');
}

.login-icon {
  font-family: iconfont;
  font-size: 20px;
  color: $login-icon-theme-color;
  margin-left: 10px;
  margin-right: 10px;
}

.user-dialog-icon, .todo-folder-icon{
  font-family: iconfont;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}


.login-icon-username::before {
  content: '\e926';
}

.login-icon-password::before {
  content: '\e654';
}

.login-icon-email::before {
  content: '\e602';
}

.user-dialog-icon-category:before {
  content: '\e608';
  font-size: 24px;

}

.user-dialog-icon-search:before {
  content: '\e63e';
  font-size: 24px;
}
.user-dialog-icon-logout:before {
  content: '\e619';
  font-size: 24px;
  color: $icon-color-logout;
}

.todo-folder-icon-day:before {
  content: '\e9bb';
  color: $icon-color-day;
}

.todo-folder-icon-flag:before {
  content: '\e60f';
  color: $icon-color-flag;
}

.todo-folder-icon-todo:before {
  content: '\e74d';
  color: $icon-color-todo;
}

.todo-folder-icon-default:before {
  content: '\e699';
  color: $icon-color-default;
}

.todo-folder-icon-modify:before {
  content: '\e638';
  color: $icon-color-modify;
}


