@charset "utf-8";

@import "todoStyle-variables";
@import "PublicStyle";

$left-aside-width: 278px;
$top-search-wrap-height: 46px;
$account-wrap-height: 50px;
$left-aside-word-base-color: #1d1d1d;
$todo-folder-active-bk-color: #e0eefa;



.leftAsideWrap {

  width: $left-aside-width;
  height: 100%;
  color: $left-aside-word-base-color;

  // topSearchWrap
  .topSearchWrap {
    height: $top-search-wrap-height;
    display: flex;
    background-color: $user-dialog-theme-color;
    align-items: center;
    .user-dialog-icon{
      color: #fff;
    }
    .search {
      flex: 1;
      height: 100%;
      background-color: inherit;
    }
    &:hover {
      cursor: pointer;
    }
  }

  // acountWrap
  .accountWrap {
    display: flex;
    align-items: center;

    height: $account-wrap-height;

    .firstLetterUserName {
      @extend %firstName;
    }
    .username {
      flex: 1;
    }
    .user-dialog-icon-logout{
      fotn-size: 24px;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .todoFolderItemWrap {
    .todoFolderItem {
      display:flex;
      align-items: center;
      height: 38px;
      background-color: inherit;
    }
    .todo-folder-icon {
      font-size: 24px;
    }

    .todo-folder-icon-modify, .todoSum {
      margin-right: 10px;
      font-size: 14px;
      color: #999;

    }
    .todo-folder-icon-modify {
      display: none;
    }

    .modify-active {
      display: block;
    }
    .todoFolderName {
      flex: 1;
    }
    &:hover {
      cursor: pointer;
    }
    .active {
      background-color: $todo-folder-active-bk-color;
    }
  }


  // createFolder
  .createFolderAction{
    position: absolute;
    bottom: 0;
    height: 42px;
    width: inherit;
    //width: 100%;
    display: flex;
    align-items: center;
    border-top: 1px solid #bbb;
    .todo-folder-icon-add{
      font-size: 24px;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
