@charset "utf-8";

$body-bg:     #fff;

$login-bk-color: #FAFAFA;

$font-size-base: 16px;
$font-size-large: ceil(($font-size-base * 1.25));
$font-size-small: ceil(($font-size-base * 0.8));
$login-base-font-color: #a3a3a2;
$theme-color: #4094DD;
$input-color: #919190;
$btn-base-color: #2b88d9;
$btn-active-color: #4094dd;
$btn-base-word-color: #fff;
$link-color: #4094DD;           // 链接颜色
$font-base-color: #3d3d3d;
$login-icon-theme-color: #4094DD;

// userDialog 变量
$user-dialog-theme-color: #668964;        // 主题颜色
$user-account-icon-bk-color: #E76663;     // 用户名第一个字图标的背景颜色



